<form>
  <div class="col-6">
    <div class="mb-3">
      <div class="form-group pt-4">
        <label for="num1" class="form-label">Número 1</label>
        <input
          type="text"
          class="form-control"
          id="num1"
          [(ngModel)]="num1"
          name="num1"
        />
      </div>

      <div class="form-group pt-4">
        <label for="num2" class="form-label">Número 2</label>
        <input
          type="text"
          class="form-control"
          id="num2"
          [(ngModel)]="num2"
          name="num2"
        />
      </div>

      <!-- Radios para elegir la operación -->
      <div class="form-group pt-3">
        <label>Operación:</label><br>
        <input type="radio" name="op" [(ngModel)]="operacion" value="suma"> Suma
        <input type="radio" name="op" [(ngModel)]="operacion" value="resta" class="ms-3"> Resta
        <input type="radio" name="op" [(ngModel)]="operacion" value="multi" class="ms-3"> Multiplicacion
        <input type="radio" name="op" [(ngModel)]="operacion" value="div" class="ms-3"> Division
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary mt-3" (click)="calcular()">Calcular</button>
      </div>
    </div>
  </div>

  <div class="col-6">
    <h1>Resultado: {{ res }}</h1>
  </div>
</form>
